a {
    float: left !important;
}

ListGroupItem {
    display: inline-block !important;
}

.thumbnail {
    flex-direction: row !important;
    width: auto !important;
    align-items: center;
}

.img {
    height: 180px;
    width: 280px !important;
    margin-bottom: 10px;
}

.text {
    margin-left: 10px !important
}